/**************************************************************
Project name: Weather in Agrigento
Author: Giuseppe Favaro'
URL: https://giuseppefavaro.github.io/weather-app/
***************************************************************/


/* GLOBAL *************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    background:  #f7fafc;
    position: relative;
    min-height: 100vh;
}
img {
    display: block;
}
a {
    color: #304FFE;
}

h1 {
    margin: 0;
}



/* STRUCTURE ***********************/
.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(225deg,rgba(0,220,192,1) 0%,rgba(0,90,240,1) 75%);
    color: #fff;
    padding: 50px;   
}

.content {
    margin-left: 400px;
    height: 100vh;
    background: #f7fafc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 15px;
    left: 45px;
    font-size: 14px;
    color: #fff;
    padding: 15px;
}




/* SIDENAV ********************/

.sidenav .sidenav__logo {
    margin-bottom: 25px;
}

.sidenav label {
    display: block;
    margin-bottom: 10px;
}

.sidenav select {
    border: none;
    border-radius: 5px;
    padding: 10px;
}


/* CONTENT ********************/

.box {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.box__h1 {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ECEFF1;
}
.box__h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ECEFF1;
}
.box__content {
    display: flex;
    gap: 20px;
}

.box__img {
    width: 25%;
    min-width: 300px;
    min-height: 300px;
    background: #6bf3e2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box__img .temperature {
    position: absolute; 
    left: 40px; 
    top: 40px; 
    font-size: 50px; 
    font-weight: 700;
}
.box__img figcaption {
    text-align: center;
}


.box__info {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
}
.box__info li {
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid #ECEFF1;
    color: #546E7A;
}
.box__info li:last-child {
    border-bottom: none;
}
.box__info i {
    margin-right: 10px;
    font-size: 28px;
    color: #263238;
    vertical-align: middle;
}
.box__info strong {
    margin-right: 10px;
    color: #263238;
}


.box__info--full {
    width: 100%;
}


/* FOOTER ***********************/

.footer a {
    color: #fff;
}





/* RESPONSIVE ***********************/

    /* CONTENT */

    @media all and (max-width: 1200px) {
        .box__content {
            flex-direction: column;
        }
        .box__img {
            width: 100%;
        }
        .box__info {
            width: 100%;
        }

    }

    /* STRUCTURE */

    @media all and (max-width: 990px) {

        .sidenav {
            position: static;
            width: 100%;
            height: auto;
            padding: 20px;
        }
        
        .content {
            margin-left: 0px;
            height: auto;
            padding-bottom: 150px;        
        }

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background-color: #010e28;
            
        }


    }

